<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../web/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../web/css/templatemo-style.css">
    <title>Home</title>
</head>

<body>
<div class="fixed-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" onclick="javascript:history.go(-1);"><</a>
        </div>
    </div>
</div>


<div class="container" id="innerDiv">
    <section class="col-md-12 content" id="home">
        <div class="col-lg-6 col-md-6 content-item">
            <img src="../web/image/1.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 content-item content-item-1 background">
            <h2 class="main-title text-center dark-blue-text">2019-04-13</h2>
            今天是我们分手的第51天。<br>
            您今天一天都没和我说几句话呢，早上看你吃了那么多，为你的胃口感到高兴，但是又为了你的理由感到了忧伤。
            你说你昨晚没休息好,我想你又在为了考试的事情在奋斗了吧。无论如何，都到这个时候了，fighting！！！
            现在不知道你在哪里考试呢。不知道是福州还是泉州。
            无论如何请你加油＾０＾~。也请你注意身体。...<br>
            <div style="width: 50%;float: left;color: #00adff;line-height: 80px;">北京·北洼西里</div>
            <a href="/test/toDiaryInfo">
                <button type="button" class="btn btn-big dark-blue-bordered-btn">More</button>
            </a>

        </div>
    </section>
    <section class="col-md-12 content padding">
        <div class="col-lg-6 col-md-6 col-md-push-6 content-item">
            <img src="../web/image/2.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 col-md-pull-6 content-item background flexbox">
            <h2 class="main-title text-center dark-blue-text">2019-04-13</h2>
            <p>Puzzle is a Bootstrap (v3.3.6) HTML CSS layout provided by <span
                    class="light-blue-text">templatemo</span>. You can download, modify and use this layout for
                absolutely free of charge.</p>
            <p>No backlink is needed to use this website template. Credit goes to <span
                    class="light-blue-text">Unsplash</span> for image used in this layout.</p>
            <a href="/test/toDiaryInfo">
                <button type="button" class="btn btn-big dark-blue-bordered-btn">More</button>
            </a>
        </div>

    </section>


    <!--<footer class="col-md-12 content" id="externals">-->
    <!--<div class="col-lg-6 col-md-6 last">-->
    <!--<img src="image/5.png" alt="Image" class="tm-image">-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-md-6 background last about-text-container">-->
    <!--<h2 class="section-title">About This Website</h2>-->
    <!--<p class="about-text">Puzzle Template is brought to you by templatemo. Sed imperdiet quis ipsum a vulputate. Suspendisse sit amet nibh mi. In quis sapien a metus interdum hendrerit.</p>-->
    <!--</div>-->
    <!--</footer>-->

</div>

<div class="text-center footer">
    <div class="container">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank"
                                                                                     href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
    </div>
</div>

<script src="../web/js/jquery.min.js"></script>
<script src="../web/js/bootstrap.min.js"></script>
<script src="../web/js/jquery.singlePageNav.min.js"></script>

<script>

    window.onload = getData();

    function getData() {

        $.ajax({
            type: "post",
            async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: "/diary/getDiaryAll",    //请求发送到TestServlet处
            data: {},
            dataType: "text",        //返回数据形式为json
            contentType: "application/json",
            success: function (result) {

                var innerhtml = "";

                var jsonObj = JSON.parse(result);//转换为json对象
                for (var i = 0; i < jsonObj.length; i++) {
                    console.log(jsonObj[i].address);
                    console.log(jsonObj[i].text);
                    console.log(jsonObj[i].createdate);
                    var rempcreatedate = jsonObj[i].createdate;
                    rempcreatedate = rempcreatedate.replace(":00.0", ":00")

                    var remptext = jsonObj[i].text;
                    remptext = remptext.substr(0, 100) + "...<br>";
                    remptext = remptext.replace(/\n/g, "<br>")

                    var isdan =false
                    if(i%2==0){
                        isdan=true;
                    }

                    if (isdan) {
                        if (i==0)
                        innerhtml += "<section class=\"col-md-12 content\" id=\"home\">";
                        else
                            innerhtml += "<section class=\"col-md-12 content\" >";

                        innerhtml += "<div class=\"col-lg-6 col-md-6 content-item\">";
                    }else{
                        innerhtml += "<section class=\"col-md-12 content padding\">";
                        innerhtml += "<div class=\"col-lg-6 col-md-6 col-md-push-6 content-item\">";
                    }

                    innerhtml += "<img src=\"image/2.jpg\" alt=\"Image\" class=\"tm-image\">";
                    innerhtml += "</div>";
                    if (isdan){
                        innerhtml += "<div class=\"col-lg-6 col-md-6 content-item content-item-1 background\">";
                    }else{
                        innerhtml += "<div class=\"col-lg-6 col-md-6 col-md-pull-6 content-item background flexbox\">";
                    }
                    innerhtml += "<h2 class=\"main-title text-center dark-blue-text\">" + rempcreatedate + "</h2>";
                    innerhtml += remptext;
                    innerhtml += "<p style=\"color: #00adff;\"><br>"+jsonObj[i].address+"</p>";
                    innerhtml += " <a href=\"/web/toDiaryInfo?id="+jsonObj[i].id+"\"><button type=\"button\" class=\"btn btn-big dark-blue-bordered-btn\">More</button></a>";
                    innerhtml += "</div>";
                    innerhtml += "</section>";
                }

                $("#innerDiv").html(innerhtml);

            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                console.log("获取信息失败!");
            }
        })
    }


    // Check scroll position and add/remove background to navbar
    function checkScrollPosition() {
        if ($(window).scrollTop() > 50) {
            $(".fixed-header").addClass("scroll");
        } else {
            $(".fixed-header").removeClass("scroll");
        }
    }

    $(document).ready(function () {
// Single page nav
        $('.fixed-header').singlePageNav({
            offset: 59,
            filter: ':not(.external)',
            updateHash: true
        });

        checkScrollPosition();

// nav bar
        $('.navbar-toggle').click(function () {
            $('.main-menu').toggleClass('show');
        });

        $('.main-menu a').click(function () {
            $('.main-menu').removeClass('show');
        });
    });

    $(window).on("scroll", function () {
        checkScrollPosition();
    });
</script>
</body>
</html>