<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/templatemo-style.css">
	<script src="/js/common.js"></script>
<title>Home</title>
</head>

<body style="min-height: 100%">
<div class="fixed-header">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" onclick="javascript:history.go(-1);"><</a>
		</div>
	</div>
</div>

<div class="container">
	<section class="col-md-12 content" id="home">
		<div class="col-lg-6 col-md-6 content-item">
			<img src="image/1.jpg" alt="Image" class="tm-image">
		</div>
	   <div class="col-lg-6 col-md-6 content-item content-item-1 background"  style="margin-bottom: 100px;" id="innerDiv">


	   </div>
   </section>

</div>

<div class="text-center footer">
<div class="container">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.singlePageNav.min.js"></script>
<script>


    window.onload = getData();

    function getData() {


        $.ajax({
            type: "post",
            async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: "/diary/getDiaryById?id=" +getUrlParam("id"),    //请求发送到TestServlet处
            data: {},
            dataType: "text",        //返回数据形式为json
            contentType: "application/json",
            success: function (result) {

                var jsonObj = JSON.parse(result);//转换为json对象

                var rempcreatedate = jsonObj.createdate;
                rempcreatedate = rempcreatedate.replace(":00.0", ":00")
                var remptext = jsonObj.text;
                remptext = remptext.replace(/\n/g, "<br>")
                var innerhtml = "";
                innerhtml += "<h2 class=\"main-title text-center dark-blue-text\">" + rempcreatedate + "</h2>";
                innerhtml += remptext;
                innerhtml += "<p style=\"color: #00adff;\"><br>"+jsonObj.address+"</p>";

                $("#innerDiv").html(innerhtml);

            },
            error: function (errorMsg) {
                //请求失败时执行该函数
            }
        })
    }

// Check scroll position and add/remove background to navbar
function checkScrollPosition() {
if($(window).scrollTop() > 50) {
  $(".fixed-header").addClass("scroll");
} else {        
  $(".fixed-header").removeClass("scroll");
}
}

$(document).ready(function () {   
// Single page nav
$('.fixed-header').singlePageNav({
	offset: 59,
	filter: ':not(.external)',
	updateHash: true        
});

checkScrollPosition();

// nav bar
$('.navbar-toggle').click(function(){
	$('.main-menu').toggleClass('show');
});

$('.main-menu a').click(function(){
	$('.main-menu').removeClass('show');
});
});

$(window).on("scroll", function() {
checkScrollPosition();    
});
</script>
</body>
</html>