<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>为了我的辛运女神 For MY Luck Fairy</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
</head>

<body>

<div class="main" id="div2">

    <a href="/toNominateIndex">
    <div class="indexButtom">
        每日推荐
    </div>
    </a>
    <div class="indexButtom">
        历史推荐
    </div>

    <a href="/toNewStock">
        <div class="indexButtom">
            新股上市
        </div>
    </a>


    <a href="/toEma">
    <div class="indexButtom">
        最新股价
    </div>
    </a>

    <a href="/toMacd">
    <div class="indexButtom">
        MACD
    </div>
    </a>

    <div class="indexButtom">
        每日心得
    </div>

    <div class="indexButtom">
        我的故事
    </div>



</div>
</body>
</html>