<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>个股推荐</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px;border: 1px solid #444;width: 100%;">


    <input type="text" id="spjmin" value="20" placeholder="收盘价最小值">
    <input type="text" id="spjmax"  value="200" placeholder="收盘价最大值">

    <input type="text" id="zdf" placeholder="平均涨幅">
    <input type="text" id="hsl" placeholder="换手率">

    <input type="button"  value="获取对应数据" onclick="getNominate()">


    <div style="width: 100%;height: 300px;margin-top: 50px;">

       <table border="1px">
           <tr>
               <td>stockCode</td>
               <td>spj</td>
               <td>上一天涨幅</td>
               <td>上两天涨幅</td>
               <td>上三天涨幅</td>
               <td>上五天平均涨幅</td>
               <td>十天平均涨幅</td>
               <td>十五天平均涨幅</td>
               <td>三十天平均涨幅</td>
           </tr>
           <tbody id="tbody">

           </tbody>
       </table>

    </div>


    <script>


        window.onload=init();

        function init() {
            getNominate();
        }
        function  getNominate() {
            var str = {"spjmin": $("#spjmin").val(), "spjmax": $("#spjmax").val()}

            $.ajax({
                type: "post",
                async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "/getNomainate",    //请求发送到TestServlet处
                data: JSON.stringify(str),
                dataType: "text",        //返回数据形式为json
                contentType: "application/json",
                success: function (result) {

                   // "{\"zdf_1\":10.0,\"zdf_2\":-0.28,\"zdf_3\":10.0,\"zdf_5\":5.119999999999999,\"zdf_10\":2.485,\"zdf_15\":2.5660000000000003,\"zdf_30\":3.6983333333333333}"


                    var jsonObj = JSON.parse(result);//转换为json对象
                    console.log(result)
                    console.log(jsonObj.length)
                    console.log(jsonObj.zdf_2)

                    var temphtml="";

                    temphtml+="<tr>";
                    temphtml+="<td>stockCode</td>";
                    temphtml+="<td>spj</td>";
                    temphtml+="<td>"+jsonObj.zdf_1.toFixed(4)+"</td>";
                    temphtml+="<td>"+jsonObj.zdf_2.toFixed(4)+"</td>";
                    temphtml+="<td>"+jsonObj.zdf_3.toFixed(4)+"</td>";
                    temphtml+="<td>"+jsonObj.zdf_5.toFixed(4)+"</td>";
                    temphtml+="<td>"+jsonObj.zdf_10.toFixed(4)+"</td>";
                    temphtml+="<td>"+jsonObj.zdf_15.toFixed(4)+"</td>";
                    temphtml+="<td>"+jsonObj.zdf_30.toFixed(4)+"</td>";
                    temphtml+="</tr>";

                    $("#tbody").html(temphtml)


                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                }
            })

        }


    </script>


</div>
</body>