<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>推荐股票列表</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" type="text/css"/>
</head>

<body>

<div class="main" id="div2">

    <a href="/toNominate">
        <div class="indexButtom">
            涨幅排行榜
        </div>
    </a>


    <div class="indexButtom" style="height: 250px">
        <div style="width: 100%;height: 50px;">
            <input type="text" id="spjmin" placeholder="收盘最低价" value="30">
            <input type="text" id="spjmax" placeholder="收盘最高价" value="33">
            <br>
            <input type="text" id="" placeholder="昨天涨幅" value="">
            <input type="text" id="" placeholder="前天涨幅" value="">
            <input type="text" id="" placeholder="前三天涨幅" value="">
            <br>
            <input type="text" id="" placeholder="前五天平均涨幅" value="">
            <input type="text" id="" placeholder="前十天平均涨幅" value="">
            <br>
            <input type="text" id="" placeholder="前十五天平均涨幅" value="">
            <input type="text" id="" placeholder="前三十天平均涨幅" value=""> <input type="button" value="查询"
                                                                             onclick="search()">

        </div>
    </div>
    <div class="indexButtom" style="height: 500px">
        <table>
            <tr>
                <td>股票编码</td>
                <td>收盘价</td>
                <td>最新日期</td>
            </tr>
            <tr id="insertTr"></tr>

        </table>
    </div>

    <script>
        window.onload = search;

        function search() {

            var str = {"spjmin": $("#spjmin").val(), "spjmax": $("#spjmax").val()}
            $.ajax({
                type: "post",
                async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "/stock/stockNewDataController/getNomainateList",    //请求发送到TestServlet处
                data: JSON.stringify(str),
                dataType: "text",        //返回数据形式为json
                contentType: "application/json",
                success: function (result) {

                    console.log("请求成功")
                    console.log(result)

                    var tempHtml = "";
                    var jsonObj = JSON.parse(result);//转换为json对象
                    for (var i = 0; i < jsonObj.length; i++) {
                        tempHtml += "<tr>";
                        tempHtml += "<td>" + jsonObj[i].stockCode + "</td>";
                        tempHtml += "<td>" + jsonObj[i].spj + "</td>";
                        tempHtml += "<td>" + jsonObj[i].stockDate + "</td>";
                        tempHtml += "</tr>";
                    }

                    $("#insertTr").html(tempHtml);


                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                }
            })
        }

    </script>

</div>
</body>
</html>