<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>推荐股票列表</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" type="text/css"/>
</head>

<body>

<div class="main" id="div2">

    <a href="/toNominate">
        <div class="indexButtom">
            涨幅排行榜
        </div>
    </a>

    <a href="/toNominateCross?searchType=goldCross">
        <div class="indexButtom">
            0 上 金叉
        </div>
    </a>

    <a href="/toNominateCross?searchType=deadCross">
        <div class="indexButtom">
            0 下死叉
        </div>
    </a>





</div>
</body>
</html>