<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/templatemo-style.css">
    <title>前进的希望</title>
</head>

<body>
<div class="fixed-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" onclick="javascript:history.go(-1);"><</a>
        </div>
    </div>
</div>


<div class="container" id="innerDiv">

    <footer class="col-md-12 content"  id="home">
        <div class="col-lg-6 col-md-6 last">
            <img src="../../img/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">实时分析-实时的金交</h2>
            <p class="about-text">实时的数据，实时的机遇</p>
            <p class="about-text">基于都是给有准备的人。</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex4()">从新开始</button>
            </div>
        </div>
    </footer>


    <footer class="col-md-12 content" >
        <div class="col-lg-6 col-md-6 last">
            <img src="../../img/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">女神推荐-金叉-死叉</h2>
            <p class="about-text">根据前几日的金叉和死叉来推荐</p>
            <p class="about-text">金交，死交</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex1()">推荐</button>
            </div>
        </div>
    </footer>

    <footer class="col-md-12 content">
        <div class="col-lg-6 col-md-6 last">
            <img src="../../img/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">女神推荐-涨幅</h2>
            <p class="about-text">根据前几日的涨跌的权值来推荐</p>
            <p class="about-text">昨日涨幅，前几日涨幅</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex0()">推荐</button>
            </div>
        </div>
    </footer>

    <footer class="col-md-12 content">
        <div class="col-lg-6 col-md-6 last">
            <img src="../../img/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">股票信息</h2>
            <p class="about-text">股票的各个信息。</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex5()">准确性</button>
            </div>
        </div>
    </footer>

    <footer class="col-md-12 content">
        <div class="col-lg-6 col-md-6 last">
            <img src="../../img/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">历史推荐</h2>
            <p class="about-text">查看历史推荐的准确性。</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex2()">准确性</button>
            </div>
        </div>
    </footer>
    <footer class="col-md-12 content" >
        <div class="col-lg-6 col-md-6 last">
            <img src="../../img/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">新股上市</h2>
            <p class="about-text">新的开始，新的机遇</p>
            <p class="about-text">如果不行，那就从新开始。</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex3()">从新开始</button>
            </div>
        </div>
    </footer>




</div>

<div class="text-center footer">
    <div class="container">Copyright &copy; 2019.GWQ & CMF Company All rights reserved.</div>
</div>

<script src="../../js//jquery-3.3.1.min.js"></script>
<script src="../../js//bootstrap.min.js"></script>
<script src="../../js//jquery.singlePageNav.min.js"></script>

<script>


    function toIndex0() {
        window.location.href = "/stock/toStockIncrease"
    }
    function toIndex1() {
        window.location.href = "/stock/toStockCross?crossType=11"
    }

    function toIndex2() {
        window.location.href = "/stock/toHistory"
    }

    function toIndex3() {
        window.location.href = "/stock/toNewStock"
    }

    function toIndex4() {
        window.location.href = "/stock/toStockAnalyze"
    }

    function toIndex5() {
        window.location.href = "/stock/toStockInfoList?stockCode=000001"
    }






    // Check scroll position and add/remove background to navbar
    function checkScrollPosition() {
        if ($(window).scrollTop() > 50) {
            $(".fixed-header").addClass("scroll");
        } else {
            $(".fixed-header").removeClass("scroll");
        }
    }

    $(document).ready(function () {
// Single page nav
        $('.fixed-header').singlePageNav({
            offset: 59,
            filter: ':not(.external)',
            updateHash: true
        });

        checkScrollPosition();

// nav bar
        $('.navbar-toggle').click(function () {
            $('.main-menu').toggleClass('show');
        });

        $('.main-menu a').click(function () {
            $('.main-menu').removeClass('show');
        });
    });

    $(window).on("scroll", function () {
        checkScrollPosition();
    });
</script>
</body>
</html>