<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>EMA12和EMA26图表</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" type="text/css"/>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div style="width: 96%;margin-left:2%;float: left;height: 50px;margin-top: 10px;">
    <input class="searchInputDiv" id="stockCode" name="stockCode" placeholder="请输入要查询的股票编码: 如000001">
   <select id="limitNum" class="searchInputDiv" onchange="init()">
       <option value="100" selected="selected">100</option>
       <option value="200">200</option>
       <option value="300">300</option>
       <option value="500">500</option>
       <option value="1000">1000</option>
       <option value="2000">2000</option>
       <option value="999999">All</option>
   </select>
    <div class="searchInputButton" id="searchInputButton" onclick="init()">确定</div>
</div>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="flowDiv">
    <div id="main2" style="height:800px;width: 2000px;"></div>
</div>
x
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript">

    window.onload = f();
    function f() {
        $("#stockCode").val(getUrlParam("stockCode"));
        init()
    }

    function init() {

        // 基于准备好的dom，初始化echarts图表
        var myChart2 = echarts.init(document.getElementById('main2'));

        var stockCode =$("#stockCode").val();

        if (stockCode==""||stockCode==undefined)
            stockCode= "000001"

        var limitnum =$("#limitNum").val();

        var str ={"stockCode":stockCode,"limitNum":limitnum,"stockBeginTime":"","stockEndTime":""}

        var date=[];    //类别数组（实际用来盛放X轴坐标值）
        var spj=[];
        var minspj=0;
        var maxspj=0

        $.ajax({
            type : "post",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "/stock/getStockMacd",    //请求发送到TestServlet处
            data : JSON.stringify(str),
            dataType : "text",        //返回数据形式为json
            contentType:"application/json",
            success : function(result) {

                var jsonObj = JSON.parse(result);//转换为json对象
                for(var i=0;i<jsonObj.length;i++){

                    date.push(jsonObj[i].stockDate.replace(" 00:00:00","").replace(".0",""));    //挨个取出类别并填入类别数组
                    spj.push(jsonObj[i].spj);    //挨个取出类别并填入类别数组

                    if (i==1){

                        minspj=jsonObj[i].spj;
                        maxspj=jsonObj[i].spj;
                    } else {

                        if (jsonObj[i].spj<minspj) {
                            minspj =jsonObj[i].spj;
                        }

                        if (jsonObj[i].spj>maxspj) {
                            maxspj =jsonObj[i].spj;
                        }
                    }

                }




                var option2 = {
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['收盘价']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data :date
                        }
                    ],
                    yAxis : [
                        {
                            min:minspj,
                            max:maxspj,
                            splitNumber:30
                        }
                    ],
                    series : [{
                        name:'收盘价',
                        type:'line',
                        data:spj
                    }
                    ]
                };
                // 为echarts对象加载数据
                myChart2.setOption(option2);

            },
            error : function(errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        })

    }


    $('#stockCode').bind('keyup', function(event) {
        if (event.keyCode == "13") {
            //回车执行查询
            $('#searchInputButton').click();
        }
    });



</script>
</body>