<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../web/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../web/css/templatemo-style.css">
    <title>股票的详细信息</title>
</head>

<body>
<div class="fixed-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" onclick="javascript:history.go(-1);"><</a>
        </div>
    </div>
</div>


<div class="container" id="innerDiv">


    <footer class="col-md-12 content" id="home">
        <div class="col-lg-6 col-md-6 last">
            <img src="../web/image/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">MACD</h2>
            <p class="about-text">计算MACD值的影响概率</p>
            <p class="about-text"></p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex0()">推荐</button>
            </div>
        </div>
    </footer>

    <footer class="col-md-12 content" >
        <div class="col-lg-6 col-md-6 last">
            <img src="../web/image/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">价格曲线</h2>
            <p class="about-text">查看价格走势</p>
            <p class="about-text">能不能赚钱就看这个了。计算前几天的涨幅对现在的影响。</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex1()">走势</button>
            </div>
        </div>
    </footer>




    <footer class="col-md-12 content" >
        <div class="col-lg-6 col-md-6 last">
            <img src="../web/image/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">涨跌幅柱状图</h2>
            <p class="about-text">实时查看涨跌幅度</p>
            <p class="about-text"></p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex2()">查看</button>
            </div>
        </div>
    </footer>




    <footer class="col-md-12 content" >
        <div class="col-lg-6 col-md-6 last">
            <img src="../web/image/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">涨幅的影响</h2>
            <p class="about-text">根据股票的全部的涨幅来查看影响</p>
            <p class="about-text">涨幅很重要啊</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex3()">推荐</button>
            </div>
        </div>
    </footer>

    <footer class="col-md-12 content" >
        <div class="col-lg-6 col-md-6 last">
            <img src="../web/image/5.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 background last ">
            <h2 class="section-title">金叉死叉的影响</h2>
            <p class="about-text">根据股票金叉死叉的影响时间来判断</p>
            <p class="about-text">金叉就是钱啊重要啊</p>
            <div>
                <button type="button" class="btn yellow-btn normal-btn" onclick="toIndex4()">推荐</button>
            </div>
        </div>
    </footer>





</div>

<div class="text-center footer">
    <div class="container">Copyright &copy;
    </div>
</div>

<script src="../web/js/jquery.min.js"></script>
<script src="../web/js/bootstrap.min.js"></script>
<script src="../web/js/jquery.singlePageNav.min.js"></script>
<script src="../js/common.js"></script>
<script>

    function toIndex0() {
        window.open("/stock/toStockMacd?stockCode="+getUrlParam("stockCode"));
    }

    function toIndex1() {
        window.open("/stock/toStockPrice?stockCode="+getUrlParam("stockCode"));
    }

    function toIndex2() {
        window.open("/stock/toStockZdf?stockCode="+getUrlParam("stockCode"));
    }

    function toIndex3() {
        window.open("/stock/toStockIncreaseEffect?stockCode="+getUrlParam("stockCode"));
    }
    function toIndex4() {
        window.open("/stock/toStockCrossEffect?stockCode="+getUrlParam("stockCode"));
    }





    // Check scroll position and add/remove background to navbar
    function checkScrollPosition() {
        if ($(window).scrollTop() > 50) {
            $(".fixed-header").addClass("scroll");
        } else {
            $(".fixed-header").removeClass("scroll");
        }
    }

    $(document).ready(function () {
// Single page nav
        $('.fixed-header').singlePageNav({
            offset: 59,
            filter: ':not(.external)',
            updateHash: true
        });

        checkScrollPosition();

// nav bar
        $('.navbar-toggle').click(function () {
            $('.main-menu').toggleClass('show');
        });

        $('.main-menu a').click(function () {
            $('.main-menu').removeClass('show');
        });
    });

    $(window).on("scroll", function () {
        checkScrollPosition();
    });
</script>
</body>
</html>