<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/templatemo-style.css">
    <title>金叉-死叉推荐</title>
    <script src="../../js/common.js"></script>
</head>

<body>
<div class="fixed-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" onclick="javascript:history.go(-1);"><</a>
        </div>
    </div>
</div>


<div class="container">
    <section class="col-md-12 content" id="home">
        <div class="col-lg-6 col-md-6 col-md-push-6 content-item">
            <img src="../../img/4.jpg" alt="Image" class="tm-image">
        </div>
        <div class="col-lg-6 col-md-6 col-md-pull-6 content-item background flexbox">
            <h2 class="section-title">搜索</h2>
            <p class="margin-b-25">找到你的关注点，我将给你帮助.</p>

            <!--<div class="row"> -->
            <form method="post" name="contact-form" class="contact-form">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input name="spjmin" type="text" class="form-control" id="spjmin" placeholder="最低收盘价..."
                               required>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-l-3">
                    <div class="form-group contact-field">
                        <input name="spjmax" type="email" class="form-control" id="spjmax" placeholder="最高收盘价..." required>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input name="zdfmin" type="text" class="form-control" id="zdfmin" placeholder="最低涨幅..." value="-10"
                               required>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-l-3">
                    <div class="form-group contact-field">
                        <input name="zdfmax" type="email" class="form-control" id="zdfmax" placeholder="最高涨幅..." value="10" required>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-l-3">
                    <div class="form-group contact-field">
                        <input name="spjmax" type="email" class="form-control" id="dayNum" placeholder="限定日期..." required value="5">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-l-3">
                    <select  class="form-control" id="crossType">
                        <option value="GOLD_CROSS" selected="selected">金叉</option>
                        <option value="DEAD_CROSS">死叉</option>
                    </select>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group margin-b-0">
                        <button type="button" id="form-submit" class="btn no-bg btn-contact" onclick="getNominate()">查询</button>
                    </div>
                </div>
            </form>
            <!--</div> -->
            <div id="msgSubmit" class="h3 text-center hidden">Message Submitted!</div>
        </div>
    </section>

    <section class="col-md-12 content" id="">
        <div style="width: 100%;min-height: 800px;background-color: #fff">

            <table class="table">
                <thead>
                <tr>
                    <th>stockCode</th>
                    <th>收盘价</th>
                    <th>涨跌幅</th>

                    <th>涨幅</th>
                    <th>涨幅影响</th>
                    <th>时间</th>
                    <th>综合</th>
                    <th>MACD</th>
                    <th>价格</th>
                    <th>影响</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>


        </div>
    </section>

</div>

<div class="text-center footer">
    <div class="container">Copyright &copy; 2019.GWQ & CMF Company All rights reserved.</div>
</div>

<script src="../../js//jquery-3.3.1.min.js"></script>
<script src="../../js//bootstrap.min.js"></script>
<script src="../../js//jquery.singlePageNav.min.js"></script>

<script>

    window.onload=init;


    function init() {
        getNominate();
    }

    function getNominate() {

        var spjminVal = $("#spjmin").val();
        var spjmaxVal = $("#spjmax").val();

        if (spjminVal==""||spjminVal==null) {
            spjminVal=0;
            $("#spjmin").val(spjminVal);
        }
        if (spjmaxVal==""||spjmaxVal==null) {
            spjmaxVal=spjminVal+20;
            $("#spjmax").val(spjmaxVal);
        }

        var str = {"spjmin": $("#spjmin").val(), "spjmax": $("#spjmax").val(),"dayNum": $("#dayNum").val(),"crossType": $("#crossType").val(),"zdfmin": $("#zdfmin").val(),"zdfmax": $("#zdfmax").val()}


        $.ajax({
            type: "post",
            async: true,
            url: "/stock/getCross",
            data: JSON.stringify(str),
            dataType: "text",        //返回数据形式为json
            contentType: "application/json",
            success: function (result) {

                // "{\"zdf_1\":10.0,\"zdf_2\":-0.28,\"zdf_3\":10.0,\"zdf_5\":5.119999999999999,\"zdf_10\":2.485,\"zdf_15\":2.5660000000000003,\"zdf_30\":3.6983333333333333}"



                var jsonObj = JSON.parse(result);//转换为json对象

                var temphtml = "";
                for (var i = 0; i < jsonObj.length; i++) {

                    var tempdate =jsonObj[i].stockDate;
                    tempdate = tempdate.replace("00:00:00.0","")
                    temphtml += "<tr>";
                    temphtml += "<td><a target='_blank' href='/stock/toStockInfoList?stockCode="+jsonObj[i].stockCode+"'>" + jsonObj[i].stockCode + "</a></td>";
                    temphtml += "<td>" + jsonObj[i].spj + "</td>";
                    temphtml += "<td>" + jsonObj[i].zdf + "</td>";
                    temphtml += "<td><a target='_blank' href='/stock/toStockCrossIncreaseEffectNew2?stockCode="+jsonObj[i].stockCode+"'>当前涨幅对后续的影响</a></td>";
                    temphtml += "<td><a target='_blank' href='/stock/toStockCrossIncreaseEffectNew2?stockCode="+jsonObj[i].stockCode+"'>金叉后会涨吗</a></td>";
                    temphtml += "<td>" + tempdate + "</td>";
                    temphtml += "<td><a target='_blank' href='/stock/toStockInfoList?stockCode="+jsonObj[i].stockCode+"'>综合</a></td>";
                    temphtml += "<td><a target='_blank' href='/stock/toStockMacd?stockCode="+jsonObj[i].stockCode+"'>MACD</a></td>";
                    temphtml += "<td><a target='_blank' href='/stock/toStockPrice?stockCode="+jsonObj[i].stockCode+"'>价格</a></td>";
                    temphtml += "<td><a target='_blank' href='/stock/toStockCrossEffect?stockCode="+jsonObj[i].stockCode+"'>影响</a></td>";
                    temphtml += "</tr>";
                }

                $("#tbody").html(temphtml)
            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
            }
        })

    }



    // Check scroll position and add/remove background to navbar
    function checkScrollPosition() {
        if ($(window).scrollTop() > 50) {
            $(".fixed-header").addClass("scroll");
        } else {
            $(".fixed-header").removeClass("scroll");
        }
    }

    $(document).ready(function () {
// Single page nav
        $('.fixed-header').singlePageNav({
            offset: 59,
            filter: ':not(.external)',
            updateHash: true
        });

        checkScrollPosition();

// nav bar
        $('.navbar-toggle').click(function () {
            $('.main-menu').toggleClass('show');
        });

        $('.main-menu a').click(function () {
            $('.main-menu').removeClass('show');
        });
    });

    $(window).on("scroll", function () {
        checkScrollPosition();
    });


</script>
</body>
</html>