<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/templatemo-style.css">
    <title>金交对后几天平均涨幅的影响</title>
    <script src="../../js/common.js"></script>
</head>

<body>
<div class="fixed-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" onclick="javascript:history.go(-1);"><</a>
        </div>
    </div>
</div>


<div class="container" id="home">


    <section class="col-md-12 content" id="">
        <div style="width: 100%;min-height: 800px;background-color: #fff">

            <select id="crossType" onchange="getNominate()">
                <option  value="11" selected="selected">11</option>
                <option  value="10">10</option>
                <option  value="01">01</option>
                <option  value="00">00</option>
            </select>


            <table class="table">
                <thead>
                <tr>
                    <th>stockCode</th>
                    <th>本-1</th>

                    <th>全-1</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>


        </div>
    </section>

</div>

<div class="text-center footer">
    <div class="container">Copyright &copy; 2019.GWQ & CMF Company All rights reserved.</div>
</div>

<script src="../../js//jquery-3.3.1.min.js"></script>
<script src="../../js//bootstrap.min.js"></script>
<script src="../../js//jquery.singlePageNav.min.js"></script>
<script src="../js/common.js"></script>
<script>

    window.onload = getNominate;

    function getNominate() {

        var str = {"stockCode": getUrlParam("stockCode"), "crossType": $("#crossType").val()}

        $.ajax({
            type: "post",
            async: true,
            url: "/stock/getStockCrossDistribute",
            data: JSON.stringify(str),
            dataType: "text",        //返回数据形式为json
            contentType: "application/json",
            success: function (result) {
                console.log(result)

                var jsonObj = JSON.parse(result);//转换为json对象
                var temphtml = "";

                var jsonObj_11 = jsonObj.resultMap.crossEffect;
                var jsonObj_all = jsonObj.resultMap.crossEffectALL;
                // var jsonObj_all = jsonObj.resultMapAll;


                temphtml += getHtml("+10", jsonObj_11.increase10,jsonObj_11.count, jsonObj_all.increase10,jsonObj_all.count);
                temphtml += getHtml("+9", jsonObj_11.increase9,jsonObj_11.count, jsonObj_all.increase9,jsonObj_all.count);
                temphtml += getHtml("+8", jsonObj_11.increase8,jsonObj_11.count, jsonObj_all.increase8,jsonObj_all.count);
                temphtml += getHtml("+7", jsonObj_11.increase7,jsonObj_11.count, jsonObj_all.increase7,jsonObj_all.count);
                temphtml += getHtml("+6", jsonObj_11.increase6,jsonObj_11.count, jsonObj_all.increase6,jsonObj_all.count);
                temphtml += getHtml("+5", jsonObj_11.increase5,jsonObj_11.count, jsonObj_all.increase5,jsonObj_all.count);
                temphtml += getHtml("+4", jsonObj_11.increase4,jsonObj_11.count, jsonObj_all.increase4,jsonObj_all.count);
                temphtml += getHtml("+3", jsonObj_11.increase3,jsonObj_11.count, jsonObj_all.increase3,jsonObj_all.count);
                temphtml += getHtml("+2", jsonObj_11.increase2,jsonObj_11.count, jsonObj_all.increase2,jsonObj_all.count);
                temphtml += getHtml("+1", jsonObj_11.increase1,jsonObj_11.count, jsonObj_all.increase1,jsonObj_all.count);
                temphtml += getHtml("+0", jsonObj_11.increase0,jsonObj_11.count, jsonObj_all.increase0,jsonObj_all.count);

                $("#tbody").html(temphtml)
            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
            }
        })

    }


    function getHtml(title, val1,count,valall,countall) {

        var vvv=val1;
        if (count!=0) {
            val1 = toDecimal2(val1/count)
        }else {
            val1=0;
        }

        var aaa=valall;
        if (countall!=0) {
            valall = toDecimal2(valall/countall)
        }else {
            valall=0;
        }



        var temphtml = "";
        temphtml += "<tr>";
        temphtml += "<td>" + title + "</td>";
        temphtml += "<td>" + getHtmlsub(val1) + vvv+"/"+count+"</td>";
        temphtml += "<td>" + getHtmlsub(valall) + aaa+"/"+countall+"</td>";


        temphtml += "<tr>";
        return temphtml;
    }


    function getHtmlsub(ownpersent) {

        ownpersent=ownpersent*100
        ownpersent = toDecimal2(ownpersent)

        var html = "";
        html += "<div style='width: 100%;background-color: beige'>"
        html += "<div style='width: " + ownpersent + "%;background-color: #eea236'>"
        html += ownpersent
        html += "</div>"
        html += "</div>"

        return html;
    }


    // Check scroll position and add/remove background to navbar
    function checkScrollPosition() {
        if ($(window).scrollTop() > 50) {
            $(".fixed-header").addClass("scroll");
        } else {
            $(".fixed-header").removeClass("scroll");
        }
    }

    $(document).ready(function () {
// Single page nav
        $('.fixed-header').singlePageNav({
            offset: 59,
            filter: ':not(.external)',
            updateHash: true
        });

        checkScrollPosition();

// nav bar
        $('.navbar-toggle').click(function () {
            $('.main-menu').toggleClass('show');
        });

        $('.main-menu a').click(function () {
            $('.main-menu').removeClass('show');
        });
    });

    $(window).on("scroll", function () {
        checkScrollPosition();
    });


</script>
</body>
</html>