<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>MACD预览</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" type="text/css"/>
</head>
<body>

<div style="width: 96%;margin-left:2%;float: left;height: 50px;margin-top: 10px;">
    <input class="searchInputDiv" id="stockCode" name="stockCode" placeholder="请输入要查询的股票编码: 如000001">

    <select id="limitNum" class="searchInputDiv" onchange="init()">
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="2000">2000</option>
        <option value="999999">All</option>
    </select>
    <div class="searchInputButton" id="searchInputButton" onclick="init()">确定</div>
</div>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="flowDiv" style="height: 1000px;">
    <div id="main3" style="height:300px;width: 100%;"></div>

    <div id="main" style="height:300px;width: 100%;"></div>

    <div id="main2" style="height:300px;width: 100%;"></div>
</div>

<div class="text-center footer">
    <div class="container">Copyright &copy; 2019.GWQ & CMF Company All rights reserved.</div>
</div>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript">
    window.onload = f();

    function f() {
        $("#stockCode").val(getUrlParam("stockCode"));
        init()
    }

    function init() {
        var stockCode = $("#stockCode").val();
        if (stockCode == "" || stockCode == undefined)
            stockCode = "000001"

        var limitnum = $("#limitNum").val();
        var str = {"stockCode": stockCode, "limitNum": limitnum, "stockBeginTime": "", "stockEndTime": ""}
        // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('main'));
        var myChart2 = echarts.init(document.getElementById('main2'));
        var myChart3 = echarts.init(document.getElementById('main3'));

        var date = [];    //类别数组（实际用来盛放X轴坐标值）
        var DIF = [];
        var DEA = [];
        var MACD = [];

        var minvalue = 0;
        var maxvalue = 0

        var Kvalue = [];
        var Dvalue = [];
        var Jvalue = [];

        var spj=[];
        var minspj=0;
        var maxspj=0


        $.ajax({
            type: "post",
            async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: "/stock/getStockMacd",    //请求发送到TestServlet处
            data: JSON.stringify(str),
            dataType: "text",        //返回数据形式为json
            contentType: "application/json",
            success: function (result) {


                var jsonObj = JSON.parse(result);//转换为json对象
                for (var i = 0; i < jsonObj.length; i++) {
                    date.push(jsonObj[i].stockDate.replace(" 00:00:00", "").replace(".0", ""));    //挨个取出类别并填入类别数组
                    DIF.push(jsonObj[i].dIF);    //挨个取出类别并填入类别数组
                    DEA.push(jsonObj[i].eMAMACD);    //挨个取出类别并填入类别数组
                    MACD.push(jsonObj[i].bAR);    //挨个取出类别并填入类别数组

                    Kvalue.push(jsonObj[i].kValue);
                    Dvalue.push(jsonObj[i].dValue);
                    Jvalue.push(jsonObj[i].jValue);


                    if (i == 1) {
                        minvalue = jsonObj[i].dIF;
                        maxvalue = jsonObj[i].dIF;
                    } else {
                        if (jsonObj[i].dIF < minvalue) {
                            minvalue = jsonObj[i].dIF;
                        }
                        if (jsonObj[i].eMAMACD < minvalue) {
                            minvalue = jsonObj[i].eMAMACD;
                        }
                        if (jsonObj[i].bAR < minvalue) {
                            minvalue = jsonObj[i].bAR;
                        }

                        if (jsonObj[i].dIF > maxvalue) {
                            maxvalue = jsonObj[i].dIF;
                        }

                        if (jsonObj[i].eMAMACD > maxvalue) {
                            maxvalue = jsonObj[i].eMAMACD;
                        }
                        if (jsonObj[i].bAR > maxvalue) {
                            maxvalue = jsonObj[i].bAR;
                        }
                    }



                    spj.push(jsonObj[i].spj);    //挨个取出类别并填入类别数组

                    if (i==1){

                        minspj=jsonObj[i].spj;
                        maxspj=jsonObj[i].spj;
                    } else {

                        if (jsonObj[i].spj<minspj) {
                            minspj =jsonObj[i].spj;
                        }

                        if (jsonObj[i].spj>maxspj) {
                            maxspj =jsonObj[i].spj;
                        }
                    }


                }

                var option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['DIF', 'DEA', 'MACD']
                    },
                    toolbox: {
                        show: true,
                        feature: {  //工具栏
                            // mark : {show: true},
                            // dataView : {show: true, readOnly: false},
                            // magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            // restore : {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    // calculable : true,  //是否可拖动
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: date
                        }
                    ],
                    yAxis: [
                        {
                            min: minvalue,
                            max: maxvalue,
                            splitNumber: 15
                        }
                    ],
                    series: [
                        {
                            name: 'DIF',
                            type: 'line',
                            data: DIF
                        },
                        {
                            name: 'DEA',
                            type: 'line',
                            data: DEA
                        },
                        {
                            name: 'MACD',
                            type: 'bar',
                            data: MACD
                        }
                    ]
                };


                var option2 = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['Kvalue', 'Dvalue', 'Jvalue']
                    },
                    toolbox: {
                        show: true,
                        feature: {  //工具栏
                            // mark : {show: true},
                            // dataView : {show: true, readOnly: false},
                            // magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            // restore : {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    // calculable : true,  //是否可拖动
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: date
                        }
                    ],
                    yAxis: [
                        {
                            min: -10,
                            max: 110,
                            splitNumber: 20
                        }
                    ],

                    series: [
                        {
                            name: 'Kvalue',
                            type: 'line',
                            data: Kvalue
                        },
                        {
                            name: 'Dvalue',
                            type: 'line',
                            data: Dvalue
                        },
                        {
                            name: 'Jvalue',
                            type: 'line',
                            data: Jvalue
                        }
                    ]
                };


                var option3 = {
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['收盘价']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data :date
                        }
                    ],
                    yAxis : [
                        {
                            min:minspj,
                            max:maxspj,
                            splitNumber:30
                        }
                    ],
                    series : [{
                        name:'收盘价',
                        type:'line',
                        data:spj
                    }
                    ]
                };



                // 为echarts对象加载数据
                myChart.setOption(option);

                myChart2.setOption(option2);

                // 为echarts对象加载数据
                myChart3.setOption(option3);

            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        })

    }


    $('#stockCode').bind('keyup', function (event) {
        if (event.keyCode == "13") {
            //回车执行查询
            $('#searchInputButton').click();
        }
    });

</script>
</body>
</html>