<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/templatemo-style.css">
    <title>金交对后几天涨幅的影响</title>
    <script src="../../js/common.js"></script>
</head>

<body>
<div class="fixed-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" onclick="javascript:history.go(-1);"><</a>
        </div>
    </div>
</div>


<div class="container" id="home">


    <section class="col-md-12 content" id="">
        <div style="width: 100%;min-height: 800px;background-color: #fff">
            <div style="width: 100%">
                <select id="crossType" onchange="getNominate()">
                    <option selected="selected" value="11">0上金叉</option>
                    <option  value="10">0下金叉</option>
                    <option  value="01">0上死叉</option>
                    <option  value="00">0下死叉</option>
                </select>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>stockCodesz</th>
                    <th>上涨后第一天</th>
                    <th>上涨后第二天</th>
                    <th>上涨后第三天</th>
                    <th>上涨后第四天</th>
                    <th>上涨后第五天</th>

                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>


        </div>
    </section>

</div>

<div class="text-center footer">
    <div class="container">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank"
                                                                                     href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
    </div>
</div>

<script src="../../js//jquery-3.3.1.min.js"></script>
<script src="../../js//bootstrap.min.js"></script>
<script src="../../js//jquery.singlePageNav.min.js"></script>
<script src="../js/common.js"></script>
<script>

    window.onload = getNominate;

    function getNominate() {

        var str = {"stockCode": getUrlParam("stockCode"), "crossType": $("#crossType").val()}

        $.ajax({
            type: "post",
            async: true,
            url: "/stock/getStockCrossEffectNewFinal",
            data: JSON.stringify(str),
            dataType: "text",        //返回数据形式为json
            contentType: "application/json",
            success: function (result) {
                // console.log(result)

                var jsonObj = JSON.parse(result);//转换为json对象
                var temphtml = "";


                var jsonObj00 = jsonObj.map00;
                var jsonObj01 = jsonObj.map01;
                var jsonObj10 = jsonObj.map10;
                var jsonObj11 = jsonObj.map11;


                var jsonObj00sub ="" ;
                var jsonObj00all ="";

                jsonObj00sub = jsonObj11.crossEffect;
                jsonObj00all = jsonObj11.crossEffectALL;
                temphtml += getHtml("0上金叉 当前", jsonObj00sub.day1, jsonObj00sub.day2, jsonObj00sub.day3, jsonObj00sub.day4, jsonObj00sub.day5, jsonObj00sub.count);
                temphtml += getHtml("0上金叉 全部", jsonObj00all.day1, jsonObj00all.day2, jsonObj00all.day3, jsonObj00all.day4, jsonObj00all.day5, jsonObj00all.count);

                jsonObj00sub = jsonObj10.crossEffect;
                jsonObj00all = jsonObj10.crossEffectALL;
                temphtml += getHtml("0下金叉 当前", jsonObj00sub.day1, jsonObj00sub.day2, jsonObj00sub.day3, jsonObj00sub.day4, jsonObj00sub.day5, jsonObj00sub.count);
                temphtml += getHtml("0下金叉 全部", jsonObj00all.day1, jsonObj00all.day2, jsonObj00all.day3, jsonObj00all.day4, jsonObj00all.day5, jsonObj00all.count);


                jsonObj00sub = jsonObj01.crossEffect;
                jsonObj00all = jsonObj01.crossEffectALL;
                temphtml += getHtml("0上死叉 当前", jsonObj00sub.day1, jsonObj00sub.day2, jsonObj00sub.day3, jsonObj00sub.day4, jsonObj00sub.day5, jsonObj00sub.count);
                temphtml += getHtml("0上死叉 全部", jsonObj00all.day1, jsonObj00all.day2, jsonObj00all.day3, jsonObj00all.day4, jsonObj00all.day5, jsonObj00all.count);


                 jsonObj00sub = jsonObj00.crossEffect;
                 jsonObj00all = jsonObj00.crossEffectALL;
                temphtml += getHtml("0下死叉 当前", jsonObj00sub.day1, jsonObj00sub.day2, jsonObj00sub.day3, jsonObj00sub.day4, jsonObj00sub.day5, jsonObj00sub.count);
                temphtml += getHtml("0下死叉 全部", jsonObj00all.day1, jsonObj00all.day2, jsonObj00all.day3, jsonObj00all.day4, jsonObj00all.day5, jsonObj00all.count);


                $("#tbody").html(temphtml)
            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
            }
        })

    }


    function getHtml(title, val1, val2, val3, val4, val5, count) {

        if (count != 0) {
            val1 = toDecimal2(val1 / count)
            val2 = toDecimal2(val2 / count)
            val3 = toDecimal2(val3 / count)
            val4 = toDecimal2(val4 / count)
            val5 = toDecimal2(val5 / count)
        } else {
            val1 = 0
            val2 = 0
            val3 = 0
            val4 = 0
            val5 = 0
        }


        var temphtml = "";
        temphtml += "<tr>";
        temphtml += "<td>" + title + "</td>";

        temphtml += "<td>" + getHtmlsub(val1) + "</td>";
        temphtml += "<td>" + getHtmlsub(val2) + "</td>";
        temphtml += "<td>" + getHtmlsub(val3) + "</td>";
        temphtml += "<td>" + getHtmlsub(val4) + "</td>";
        temphtml += "<td>" + getHtmlsub(val5) + "</td>";


        temphtml += "<tr>";
        return temphtml;
    }


    function getHtmlsub(ownpersent) {

        ownpersent = ownpersent * 100
        ownpersent = toDecimal2(ownpersent)

        var html = "";
        html += "<div style='width: 100%;background-color: beige'>"
        html += "<div style='width: " + ownpersent + "%;background-color: #eea236'>"
        html += ownpersent
        html += "</div>"
        html += "</div>"

        return html;
    }


    // Check scroll position and add/remove background to navbar
    function checkScrollPosition() {
        if ($(window).scrollTop() > 50) {
            $(".fixed-header").addClass("scroll");
        } else {
            $(".fixed-header").removeClass("scroll");
        }
    }

    $(document).ready(function () {
// Single page nav
        $('.fixed-header').singlePageNav({
            offset: 59,
            filter: ':not(.external)',
            updateHash: true
        });

        checkScrollPosition();

// nav bar
        $('.navbar-toggle').click(function () {
            $('.main-menu').toggleClass('show');
        });

        $('.main-menu a').click(function () {
            $('.main-menu').removeClass('show');
        });
    });

    $(window).on("scroll", function () {
        checkScrollPosition();
    });


</script>
</body>
</html>